<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <%- include('partials/head')%>
</head>

<body>

    <%- include('partials/navigation')%>

        <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
            <section>
                <h1 class="display-1">About</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos est, rerum dignissimos, ratione magnam
                    accusamus porro, possimus excepturi quia deserunt pariatur! Deleniti ratione numquam rem sint
                    doloremque inventore harum nulla fuga laudantium, repudiandae unde non voluptatibus assumenda
                    voluptatem a explicabo dicta adipisci sed temporibus possimus eaque? Repudiandae omnis et asperiores
                    qui assumenda aut consequatur vitae voluptatem fuga laudantium minima impedit libero, quisquam
                    eligendi eius, magni voluptatibus explicabo nisi repellat exercitationem expedita, quod id earum!
                    Porro quia explicabo, pariatur hic perspiciatis libero eveniet. Corrupti, ullam quam nesciunt
                    placeat non, voluptatibus dolores nihil neque, quae alias sint quod ratione unde sunt veniam.
                    Dolores, natus! Cupiditate, fugit? Tempora, nobis quidem nesciunt non laudantium voluptatem iure
                    accusamus natus debitis nam quod eum rem praesentium ipsa sequi inventore ut eveniet perferendis
                    animi culpa iste voluptates. Quas voluptas adipisci odio voluptate, ex quisquam soluta numquam
                    reprehenderit non, dolor nihil quibusdam veritatis hic? Id labore magni consequatur dicta sapiente
                    excepturi atque reiciendis quisquam optio, corporis aliquam error? Alias aliquid totam magnam
                    excepturi velit ipsa, ab harum debitis omnis delectus dolorum sed, eaque tenetur ratione eligendi
                    sit modi repellat sint officia quam tempora facere, autem ipsam. Obcaecati culpa rerum dicta esse
                    iure minus recusandae, animi adipisci accusamus possimus!</p>
            </section>
        </main>

        <%- include('partials/footer')%>

</body>

</html>